.btn-lg {
    font-size: xx-large;
    width: 10em;
}

.h1, .h4 {
    font-weight: normal;
    text-align: center;
    margin: 2ex 0 0 0;
}

.progress {
    height: 5ex;
    padding: 3px;
    position: relative;
}

.progress-bar {
    color: black;
    overflow: visible;
    border-radius: .25rem;
}

#app {
    margin: auto;
    max-width: 75em;
    min-width: 30em;
    padding: 1ex;
    position: relative;
}

.controls {
    text-align: center;
    padding: 2ex 0;
}

.next .title {
    margin-right: 1ex;
}

.paused {
  animation: paused-keyframes 2s linear infinite;
}

@keyframes paused-keyframes {
  50% {
    opacity: 0;
  }
}

.progress-text {
    font-size: large;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.progress-text.elapsed {
    left: 1ex;
}
.progress-text.pace {
    left: 50%;
    transform: translate(-50%, -50%);
}
.progress-text.duration {
    right: 1ex;
}

.back {
    position: absolute;
    left: 0;
    text-align: left;
}

.reset {
    position: absolute;
    right: 0;
    text-align: right;
}

@media screen and (max-width: 30em) {
    .progress-text {
        font-size: medium;
    }
}
