.value-button {
    position: absolute;
    right: 0;
}

.workout {
    position: relative;
}

.workout .chart {
    position: relative;
    width: 20%;
}

.workout .name {
    position: absolute;
    right: 0;
    width: 75%;
}
