<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<link rel="manifest" href="manifest.json" />

<link rel="icon" type="image/png" href="icon-512x512.png" sizes="512x512" />
<link rel="icon" type="image/png" href="icon-192x192.png" sizes="192x192" />
<link rel="icon" type="image/png" href="icon-64x64.png" sizes="64x64" />
<link rel="icon" type="image/png" href="icon-48x48.png" sizes="48x48" />
<link rel="icon" type="image/png" href="icon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="icon-16x16.png" sizes="16x16" />

<link href="//cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<link type="text/css" rel="stylesheet" href="amp.css" />

<script>
  const AMP = {
      settings: "{{settings-edn|js-escape|safe}}"
  };
</script>
