<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AMP</title>

    {% include "head.html" %}

    <link type="text/css" rel="stylesheet" href="workouts.css" />
  </head>
  <body>
    <div id="app">
      <h1>Workouts</h1>
    </div>

    {% include "foot.html" %}
    <script src="{{javascript-base-uri}}workouts.js"></script>
  </body>
</html>
