<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CAMP</title>

    {% include "head.html" %}

    <link type="text/css" rel="stylesheet" href="camp.css" />
  </head>
  <body>
    <div id="app">
      <h1>Play</h1>
    </div>

    {% include "foot.html" %}
    <script src="{{javascript-base-uri}}play.js"></script>
  </body>
</html>
